*{
    margin: 0;
    padding: 0;
    
}
.banner{
    
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    background-image: url('../css/midia/tela de fundo.JPG');
    
   
}
video{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    
}

.banner .content {
    position: relative;
    
    
}
.content{

  width: 100%;
  height: 300px;
 
  
}



.nav{
    position: absolute;
}
.nav-menu{
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    
    
}

.nav-menu ul{
    width: 800px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.nav-menu ul li{
    margin-left: 40px;
      
}
.nav-menu ul li a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px 5px;
    
}
.nav-menu ul li a:hover{
    color: #ccc;
    transition: 200ms;
    border-bottom: 4px solid white;
    
}
.img-menu{
    display: flex;
    align-items: center;
    
}
.nav-menu-2{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
     
} 
.nav-menu-2 i{
  color: white;
  margin-right: 20px;
  
}
.buttom{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: color 500ms;
}
.buttom:hover{
    color: black;
    background-color: #fff;
    transition: 500ms;
}
.buttom::before{
    content:' ';
    top: 0;
    left: -50;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 500ms;

}
.buttom:hover::before{
    width: 150%;
}

.img-skye{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.img-skye img{
    margin-top: 100px;
    width: 400px;
    height: 600px;
}

