*{
    margin: 0;
    padding: 0;
    
}
.banner{
    
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    background-image: url('../css/midia/tela de fundo.JPG');
    
   
}
video{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    
}

.banner .content {
    position: relative;
    
    
}
.content{

  width: 100%;
  height: 300px;
 
  
}



.nav{
    position: absolute;
}
.nav-menu{
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    
    
}

.nav-menu ul{
    width: 800px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.nav-menu ul li{
    margin-left: 40px;
      
}
.nav-menu ul li a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px 5px;
    
}
.nav-menu ul li a:hover{
    color: #ccc;
    transition: 200ms;
    border-bottom: 4px solid white;
    
}
.img-menu{
    display: flex;
    align-items: center;
    
}
.nav-menu-2{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
     
} 
.nav-menu-2 i{
  color: white;
  margin-right: 20px;
  
}
.buttom{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: color 500ms;
}
.buttom:hover{
    color: black;
    background-color: #fff;
    transition: 500ms;
}
.buttom::before{
    content:' ';
    top: 0;
    left: -50;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 500ms;

}
.buttom:hover::before{
    width: 150%;
}

.agent-section{
    display: flex;
    margin-left: 150px;
    justify-content: space-around;
    

 
}
.agent-section img{
    margin-top: 100px;
    width: 400px;
    height: 600px;
}
.agent-text-name{
    position: absolute;
    color: #fff;
    margin-top: 150px;
    margin-left: 600px;

}
.agent-text-name h1{
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
.agent-text-name h1:hover{
    color: #ccc;
}
.abilitys-agent{
  height: 20px;
  margin-top: 200px;
}
.abilitys-agent ul li img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    
    
}
.abilitys-agent ul li{
    list-style: none;
    margin-left: 10px;
    
    
}
.abilitys-agent ul{
    display: flex;
   
}
.abilitys-agent ul li  img{
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 2px 9px;
    transition: 0.5s;
}
.abilitys-agent ul li img:hover{
    background-color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);

}
.abilitys-agent ul li img::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;

}