*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{


}
.fundo{
   margin-right: 550px;
   margin-left: 550px;
   background-color: #999;
   padding: 20px; 
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 2px 10px;
    
}
.resultado{
    width: 200px;
    height: 50px;
    margin: 0 10px;
    background-color: aquamarine;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.numb1 input{
    padding: 10px;
    margin: 0 10px;
    margin-top: 20px;
}
button{
    padding: 10px 10px;
    margin-left: 5px;
}
.somas{  
    display: flex;
    flex-direction: row;
    justify-content: center;
}