*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    
    
}
html,body{
    height: 100%;
    background-image: url("./img/mapa\ mundo.png");
    background-position:left bottom;
    background-size: cover;
    background-blend-mode: multiply;

}
header{
    width: 100%;
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
   
    

}
.info-hearder{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}

.info-hearder img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.search{
    margin-left: 10px;
    cursor: pointer;
    
}
.search i{
    padding:0 5px ;
    cursor: pointer;
    
}
.search i:hover{
    opacity: 0.5;
}


.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    
}
.sideBar{ 
    border-radius: 20px;
    opacity: 0.8;
    width: 15%;
    background-color: #5B8FB9;
    height: 100%;
    
    
}
.sideBar h3{
    color: white;
    font-size: 18px;
    margin: 10px;
}
.sideBar a.sideBar-active{
    color: white;
    background-color: #03001C;
    padding: 10px 0;
    border-left: 5px solid #73b4ff;
    font-weight: bold;
}

.sideBar a{
    display: block;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 0;
    border-bottom-left-radius:10px ;
    border-top-left-radius: 10px;
    
}
.sideBar a:hover{
    background-color: #03001C;
    padding: 10px 0;
    border-left: 5px solid #73b4ff;
    font-weight: bold;
    color: white;
    border-bottom-left-radius:10px ;
    border-top-left-radius: 10px;
}




.content{
    
    width: 85%;
   
    padding: 10px;
    
}
.titulosection{
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.titulosection p{
    border-radius: 10px;
    padding: 10px;
    width: 15%;
    background-color: #5B8FB9;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.titulosection i{
    color:#73b4ff ;
}
.titulosection hr{
    border-color: aliceblue;
}


.box-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.box-info-sigle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}



.content-grafic-feed{
    display: flex;
    height: 100%;
}

.feed{
    border-radius: 10px;
    width: 30%;
    height: 100%;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.feed-single{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
   

}
.feed-text span{
    color: white;
}
.feed-text{
    display: flex;
    align-items: center;
    
    
}
.feedtime {
    color: white;
}
.feed-icon-backgraund{
    display: inline-block;
    background-color: cyan;
    border-radius: 25px;
    padding:5px;
    margin-right: 4px;
}
.feed-text i{
    font-size: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    
}
.grafic{
    width: 70%;
    height: 100%;
    margin-left: 20px;
    
}
#myChart{
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}