*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.container{
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.perfil-personagem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mago{
    display: flex;

}
.mago img{
    padding: 50px;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.mago img:hover{
    animation:tela-maior 500ms linear  ;
    width: 350px;
    height: 350px;
    
}
h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: aliceblue;
}



@keyframes tela-maior{
    0%{
        width: 300px;
        height: 300px;
    }
    50%{
        width: 330px;
        height: 330px;
    }
    80%{
        width: 350px;
        height: 350px;
    }
    100%{
        width: 350px;
        height: 350px;
    }
}