*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.container{
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.perfil-personagem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mago{
    display: flex;

}
.mago img{
    padding: 50px;
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.mago img:hover{
    animation:tela-maior 500ms linear  ;
    width: 350px;
    height: 350px;
    
}
h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: aliceblue;
}



@keyframes tela-maior{
    0%{
        width: 300px;
        height: 300px;
    }
    50%{
        width: 330px;
        height: 330px;
    }
    80%{
        width: 350px;
        height: 350px;
    }
    100%{
        width: 350px;
        height: 350px;
    }
}

/* tela 2 dos reinos*/

.container_reinos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reinos_choice{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}
.reinos_choice p{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: center;
    
}
.container_reinos img{
    width: 450px;
    height: 450px;
}
.container_reinos img:hover{
    width: 500px;
    height: 500px;
    animation:mapa_maior 500ms linear ;
    
}

@keyframes mapa_maior{
    0%{
        width: 450px;
        height: 450px;

    }
    50%{
        width: 480px;
        height: 480px;
    }
    80%{
        width: 500px;
        height: 500px;
    }
    100%{
        width: 500px;
        height: 500px;
    }
}

