*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #CCC;
}
.header{
    height: 80px;
    background-color: #000;
}
.slide{
    flex: 1;
    overflow: hidden;
}
.slide--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;

}
.slide--item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 1px black;
    font-size: 40px;
    
    
}
.slide--controler{
    height: 100%;
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide--control{
    overflow: hidden;
    font-size: 100px;
    cursor: pointer;
}
