.figtArea{
    display: flex;
    gap: 20px;

}

#char,#monster{
    flex: 1;

}

.lifeBar{
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lifeBar .bar{
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log{
    border: 1px dotted #999 ;
    height: 500px;
    overflow: scroll;
    background-image: url('./img/cenario.gif');
    background-size: cover;
    background-position: bottom;

}