@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,200;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    

}
:root{
    --clr: #222327;
}
body{
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 90vh;
    background-color: var(--clr);
    color: #ccc;
    
}



nav{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navegation{
    position: relative;
    width: 350px;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
.navegation ul{
    display: flex;
    width: 350px;
}
.navegation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navegation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navegation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navegation ul li.active a .icon{
    transform: translateY(-32px);
}

.navegation ul li a .text{
    position:absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
}
.navegation ul li.active a .text{
    opacity:1;
}
.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-color: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;

}
.indicator::before{
    content:'';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius:20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}
.indicator::after{
    content:'';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius:20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navegation ul li:nth-child(1).active ~ .indicator {

    transform: translateX(calc(70px * 0));
}
.navegation ul li:nth-child(2).active ~ .indicator {

    transform: translateX(calc(70px * 1));
}
.navegation ul li:nth-child(3).active ~ .indicator {

    transform: translateX(calc(70px * 2));
}
.navegation ul li:nth-child(4).active ~ .indicator {

    transform: translateX(calc(70px * 3));
}
.navegation ul li:nth-child(5).active ~ .indicator {

    transform: translateX(calc(70px * 4));
}

/* tela 2 main */

main{
    flex: 1;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.img_background img{
    width: 250px;
    height: 220px;
}
.description{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.description h2{
    margin-bottom: 5px;
}
.durantion{
    width: 250px;
    margin-top: 20px;
}
.durantion progress{
    height: 6px;
    width: 0%;
    background-color: #29fd53;
}
.bar{
    width: 250px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.durantion .bar .point{
    width: 10px;
    height: 10px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;
    transition: 0.5;
}
.time{
    display: flex;
    width: 250px;
    justify-content: space-between;
}
.player{
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.player .button-play, .button-pause{
    font-size: 50px;
    cursor: pointer;
}
.player .arrow{
    font-size: 40px;
    cursor: pointer;
}
.player .button-pause{
    display: none;
    cursor: pointer;
}
