
/*
input{
    padding: 6px;
    background-color: #ccc;
    border: none;
}

.azul{
    background-color: blue;
    color: antiquewhite;
}
.vermelho{
    background-color: red;
    color: antiquewhite;
}
.verde{
    background-color: green;
    color: black;
}
#telefone{
    display: none;
}
.nav{
    height: 97vh;
    width: 10%;
    background-color: #ccc;
    display: inline-block;
    padding: 10px;
    display: none ;
    
    
}
.nav a {
    padding: 8px;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
}
#botao{
    padding: 10px 5px;
}
.infos{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*
#exemplo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #ccc;
}

.verde{
    background-color: green;
    color: antiquewhite;
}
.azul{
    background-color: blue;
    color: beige;
}
.vermelho{
    background-color: red;
    color: aliceblue;
}
.amarelo{
    background-color: yellow;
    color: #000;
}
*/
/*
.preto{
    background-color: black;
}
.verde{
    background-color: green;
}
*/
.texto{
    
    width: 200px;
    height: 900px;
    overflow: auto;
    background-color: #ccc;
    padding: 20px;
}
.scroolbutton{
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: red;
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 999;
    cursor: pointer;
    
}